<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    hello <%= 2+20 %> <!--- ejs language, output the code between to the page-->
    hello <%= text %> <!--- server-client communication: "text" is from the server.js-->
    hello <%= locals.text || 'Default' %> <!--- locals will find whether there is a 'text' in server, if not return 'Default'-->
</body>
</html>